[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
sklearn = "*"
requests = "*"
bs4 = "*"
pandas = "*"
splinter = "*"
statsmodels = "*"
yahoo-fin = "*"
requests-html = "*"
Flask = "*"
Flask-PyMongo = "*"
WTForms = "*"
Quandl = "*"

[requires]
python_version = "3.8"
